data/*
infra/dwh/.terraform

infra/sa/.terraform
infra/sa/terraform.tfstate
infra/sa/terraform.tfstate.backup
infra/sa/.terraform.lock.hcl

infra/vm/.terraform
infra/vm/terraform.tfstate
infra/vm/terraform.tfstate.backup
infra/vm/.terraform.lock.hcl
infra/vm/.ssh

infra/gcp/.terraform
infra/gcp/terraform.tfstate
infra/gcp/terraform.tfstate.backup
infra/gcp/.terraform.lock.hcl
infra/gcp/.ssh

sa-project-batch.json
*-deployment.yaml