[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
prefect = "*"
fastparquet = "*"
pyarrow = "*"
prefect-gcp = {extras = ["cloud_storage"], version = "*"}
gcsfs = "*"
dbt-core = "*"
dbt-bigquery = "*"

[dev-packages]

[requires]
python_version = "3.8"
